* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
h1,h2,h3,
p,
ul,ol,
button,
hr {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color:#010201;
}
.wrapper {
  box-sizing: content-box;
  max-width: 1222px;
  margin: 0 auto;
  padding: 0px 15px;
}
body {
  background-color:#fff;
}
.main-header {
  font-family: 'Inika', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #edf2ec;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 134px;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: transparent;
}
.list li a:hover {
  color:#e06733;
}
.list-nav li a {
  color:#010201;
}
.list-nav li:not(:first-child) {
  margin-left: 46px;
}
.active-nav-section {
  color: #e06733;
  font-weight: 700;
}


#welcome {
  background-color:#edf2ec;
}
.welcome-wrapper {
  height: 532px;
  padding: 62px 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
}
.welcome-content {
  width: 549px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.welcome-heading {
  color: #717171;
  font-family: 'Inter', serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 111.111% */
}
.welcome-par {
  max-width: 525px;

  color: #636060;
  font-family: 'Inter', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
}
.link-btn {
  display: block;
  width: 162px;
  height: 46px; 
  font-family: 'Inter',serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 

  border-radius: 10px;
  border: 2px solid #E06733;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}
.welcome-content .link-btn {
  color: #000;
  line-height: 20px;
  padding: 12px 0px;
}
.link-btn:hover {
  color: #fff;
  background-color: #E06733;
}
.btn-orange {
  font-family: 'Inika',serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;

  background-color: transparent;
  color:#e06733;

  text-align: center;
}
/* Анимация наведения на кнопку*/
.btn-orange:hover {
  cursor: pointer;
  background-color: #e06733;
  color: #fff;
}
.welcome-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.welcome-image {
  width: 448.795px;
  height: 407.358px;
}
@media (max-width: 900px) {
  .welcome-image {
    width: 299px;
  }
}
.welcome-main-word {
  color: #499a18;
}


.about-wrapper {
  padding: 93px 0px 94px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.about-content {
  max-width: 605px;
  padding-right: 20px;
}
.about-plant img {
  width: 100%;
}
@media (max-width: 920px) {
  .about-plant img {
    width: 300px
  }
}


.about-heading {
  color: #499a18;
  font-family: 'Inika', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  max-width: 463px;
  margin-bottom: 40px;
}
.about-main-word {
  color: #e06733;
}
.about-par {
  color: #636060;
  font-family: 'Inter', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}



#service {
  background-color: #edf2ec;
}
.service-wrapper {
  /* height: 1300px; */
  padding-top: 40px;
  padding-bottom: 66px;
}
.service-heading {
  color: #499a18;
  font-family: 'Inika', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  max-width: 306px;
  padding-right: 10px;
}
.service-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  margin-bottom: 80px;
}
.btn-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.btn-menu .btn-orange {
  padding: 10px 38px;
  
  border-radius: 5px;
  border: 1px solid #e06733;
  background-color: transparent;
  color: #e06733;
}
.btn-menu li:not(:last-child) {
  margin-right: 38px
}
.btn-menu .btn-orange:hover {
  cursor: pointer;
  color: #fff;
  background-color: #e06733;
}
.services-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* max-width 1079 - justify-content: space-evenly; */
@media (max-width: 1079px) {
  .services-cards {
    justify-content: space-evenly;
}
}
.service-card {
  width: 329px;
  height: 450px;
  margin: 0px 10px 55px 10px;
}
.service-card a{
  display: block;
  height: 350px;
}
.service-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;;
}
.service-card-info {
  height: 100px;
  padding: 0 15px;

  border-radius: 0px 0px 20px 20px;
  border: 1px solid #e3e1d5;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.service-card-info h3,
.service-card-info p {
  margin-top: 10px;
}
.service-card-info h3 {
  color: #e06733;
  font-family: 'Inter',serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
}
.service-card-info p {
  color: #717171;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}


.prices-wrapper {
  height: 560px;
  padding: 40px 0px 115px 0px;
}

.prices-heading {
  color: #000;
  font-family: 'Inter', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 60px;
  height: 49px;
}
.prices-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}
.prices-variant {
  display: block;
  width: 332px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #e3e1d5;

  color: #000;
  font-family: 'Inter', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
}
.accordion-container {
  position: relative;
  width: 250px;
  height: 50px;
}
.accordion {
  width: 100%;
  height: 50px;
  padding: 0 35px 0px 20px;

  color: #717171;
  font-family: 'Inter', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 1px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-wrapper {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  transition: height 0.5s ease;

  padding: 0px 50px 0px 20px;
  width: 100%;
}
/* Price accordion-wrapper */
.accordion-wrapper-btn {
  font-family: 'Inter',serif;

  padding: 16px 40px 0px 40px;

  width: 250px;
  height: 50px;
  text-align: left;
  overflow: hidden;
  border: none;
  border-radius: 20px;
  background-color: #EDF2EC;
  cursor: pointer;
  transition: height 0.5s ease, background-color 0.3s ease;
}
.accordion-wrapper-btn:hover, .accordion-wrapper-btn-active{
  background-color: #D6E7D2;
}
.accordion-wrapper-btn-active svg, .accordion-wrapper-btn:hover svg {
  transform: rotate(180deg);
}
.accordion-wrapper-btn-active svg circle, .accordion-wrapper-btn:hover svg circle{
  fill: #AEA1A1;
}
.accordion-wrapper-btn-active {
  height: 154px;
}
.accordion-wrapper-btn-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  color: #000;
  font-family: 'Inter', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;

  margin-bottom: 12px;
}
.accordion-wrapper-line {
  width: 0px;
  height: 0.5px;
  border-width: 0px;
  background-color: #AEA1A1;
  transition: width 0.6s ease;
  margin-bottom: 6px;
}
.accordion-wrapper-line-active {
  width: 100%;
}
.accordion-wrapper-btn p {
  color: #717171;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 10px; /* 100% */

  margin-bottom: 6px;
}
.price-count {
  color: #E06733;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;

  margin-bottom: 12px;
}
.price-count .digit {
  font-size: 16px;
}
.price-count .hours {
  color: #000;
  font-weight: 400;
}
.btn-white {
  display: block;
  width: 86px;
  height: 25px;
  padding: 3px 0px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;

  color: #717171;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}


.help {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-top: -109px;

}
.help a {
  color: #e06733;
  padding: 10px 32px;
}
.help h3 {
  color: #000;
  text-align: right;
  font-family: 'Inter', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */

  max-width: 452px;
  padding-left: 20px;
  margin-bottom: 38px;
}
h3 .prices-main-word {
  color: #499a18;
  font-family: 'Inter',serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
.help .link-btn{
  font-family: 'Inika',serif;
  font-weight: 700;
  line-height: normal;
  font-size: 20px;

  border-radius: 5px;
  border: 1px solid #e06733;

  width: 164px;
  height: 50px;
  padding: 11px 0px;
  margin-bottom: 39px;
}
.help img {
  width: 152px;
}

#contacts {
  background-color: #edf2ec;
}
.contacts-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts-wrapper {
  padding-top: 60px;
}
.contacts-heading {
  text-align: center;
  color: #499a18;
  font-family: 'Inika', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 37px;
}
.contacts-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contacts-img {
  margin-top: -100px;
}
@media (max-width: 930px) { 
  .contacts-img {
    width: 280px;
    margin-top: 0px;
  }
}
.container-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.accordion-container-city {
  width: 450px;
  margin-bottom: 47px;
}

.accordion-city {
  background: #D6E7D2;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  transition: background-color 0.5s ease, box-shadow 0.4s ease;
}

.accordion-wrapper-city {
  background: #DCE9D9;

  color: #499a18;
  font-family: 'Inter', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  letter-spacing: 0.8px;

  height: 0px;
  top: 50px;
}
.active-accordion.accordion-city, .accordion.accordion-city:hover {
  border: 1px solid #D6E7D2;
  background-color: #C1E698;
  box-shadow: none;
}
.active-accordion svg, .accordion:hover svg{
  transform: rotate(180deg);
}
.active-accordion svg circle, .accordion:hover svg circle{
  fill: #8BA07E;
}
.active-wrapper.accordion-wrapper-city {
  height: 234px;
}
.wrapper-par {
  height: 30px;
  margin: 2px 0px 6px 0px;

  color: #717171;
  font-family: 'Inter',serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 10px; /* 100% */
}
.wrapper-price_count {
  margin-bottom: 12px;

  color: #E06733;
  font-family: 'Inter',serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 166.667% */
}


.wrapper-line-city  {
  margin-top: -7px;

  background: #d9d9d9;
  border-width: 0px;
  height: 1px;
}
.accordion-wrapper li {
  cursor: pointer;
}
.accordion-wrapper-city li:not(:first-child) {
  margin-top: 12px;
}
.accordion-wrapper ul{
  margin-top: 27px;
}
.accordion-wrapper li:hover {
  color:#717171;
}
.accordion-wrapper li:hover .wrapper-line-city {
  background-color: #717171;
}
.contacts-city-form {
  display: none;
  width: 448px;
  height: 214px;
  border-radius: 20px;
  border: 1px solid #000;

  color: #000;
  font-family: 'Inter',serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  letter-spacing: 0.8px;

  padding: 17px 36px 0px 35px;
  
}
.contacts-city-form-content {
  display: flex;
  flex-direction: row;
}
.contacts-city-form.active {
  display: block;
}
.contacts-city-form-header {
  margin-right: 12.5px;
}
.contacts-city-form-value {
  color: #717171;
}
.contacts-city-form-container-btn {
  height: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts-city-form-btn {
  width: 122px;
  height: 26px;

  color: #717171;
  font-family: 'Inika',serif;
  font-size: 10px;
  font-weight: 700;

  border-radius: 5px;
  border: 1px solid #E06733;

}

#footer {
  color: #000;
  font-family: 'Inter', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.footer-wrapper {
  height: 130px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.social-list > li, .social-list img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list li {
  margin: 0 20px 0 20px;
}
.footer-data > li:not(:last-child, :first-child) {
  margin: 0px 20px 0px 20px;
}



/* Media for 768px */
@media (max-width: 768px) {
  .wrapper {
    max-width: 668px;
  }

  .header-wrapper {
    height: 117px;
  }

  .welcome-wrapper {
    flex-direction: row-reverse;
    height: 420px;
    padding: 40px 0px 70px 0px;
  }
  .welcome-heading {
    font-size: 35px;
  }
  .welcome-par {
    font-size: 16px;
    line-height: 25px;
  }
  .welcome-image {
    width: 280px;
    height: 254.148px;
  }
  .welcome-content {
    max-width: 341px;
    height: 100%;
    justify-content: space-between;
  }
  

  .about-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 95px 0px;
  }
  
  .about-heading {
    margin: 0 auto;
  }
  .about-par {
    padding: 40px 0px;
  }
  .about-plant img {
    width: 250px;
  }
  .about-heading {
    font-size: 35px;
    text-align: center;
  }

  .service-wrapper {
    padding: 60px 0px 32px 0px;
  }
  .service-menu {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .btn-menu {
    padding: 40px 0px 40px 0px;
    justify-content: flex-start;
  }
  .services-cards {
    justify-content: space-between;
  }
  .service-card {
    width: 280px;
    margin: 0 0 38px 0;
  }

  .prices-wrapper {
    padding-bottom: 88px;
    height: 585px;
  }
  .prices-heading {
    font-size: 35px;
    margin-bottom: 50px;
  }
  .help h3 {
    font-size: 25px;
    line-height: 35px;
  }
  .help span {
    font-size: 25px;
    line-height: 35px;
  }
  .help {
    margin-top: 0px;
  }

  .container-contacts {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 548px;
  }
  .contacts-wrapper {
    padding-top: 40px;
    height: 739px;
  }
  .contacts-content.translated {
    transform: translateY(-39px);
  }
  .contacts-heading {
    margin-bottom: 100px;
  }
  .contacts-img {
    width: 200px;
    height: 248.5px;
  }
  .accordion-container-city {
    margin-bottom: 61px;
  }
  .footer-wrapper {
    height: 181px;
    flex-direction: column;
    align-items: center;
    padding: 33px 0px 18px 0px;
  }
}

/* Media for 380px */
.header-burger {
  height: 26px;
  display: none;
}
.bar1 {
  transition: all 0.5s ease;
}
.bar2 {
  transition: all 0.5s ease;
}
.bar3 {
  transition: all 0.5s ease;
}
.bar4 {
  transform-origin: 0px 25px;
  transition: all 0.5s ease;
}
.change .bar1 {
  transform: rotate(33.024deg) translate(3.5px, -1px);
}
.change .bar4 {
  transform: rotate(-33.024deg) translate(3.5px, 1px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  opacity: 0;
}
.header-nav {
  width: 447.25px;
}
@media (max-width: 620px) {
  .header-burger {
    display: block;
  }
  .header-nav {
    font-size: 20px;
    max-width: 0px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fffffff4;
    overflow-x: hidden;
    z-index: 1;
    transition: max-width 0.5s ease;
  }
  .header-nav.open-nav {
    max-width: 250px;
  }
  .list-nav {
    flex-direction: column;
    text-align: center;
  }
  .list-nav li a {
    color: #010201;
  }
  .list-nav li:not(:first-child) {
    margin-left: 0px;
  }
  .list-nav li {
    margin-top: 20px;
    overflow: none;
  }

  .welcome-image {  
    height: 100%;
    width: 200px;
  }
  .welcome-content {
    max-width: 100%;
  }
  .btn-menu {
    flex-wrap: wrap;
    padding-bottom: 31px;
  }
  .btn-menu li {
    margin-bottom: 9px;
  }
  .service-card {
    width: calc(280px - 10vw);
  }
  
}
@media (max-width: 540px) {
  .prices-content {
    flex-direction: column;
    align-items: center;
  }
  .help {
    align-items: center;
  }
  .help h3 {
    text-align: center;
    padding-left: 0px;
  }
  .help img {
    display: none;
  }
  
  .accordion-container-city {
    width: 300px;
    margin-bottom: 49px;
  }
  .contacts-city-form {
    width: 290px;
    height: 212px;
    padding: 23px 36px 0px 36px;
  }
  .contacts-city-form-header {
    margin-right: 0px;
    width: 64.6px;
  }
  .contacts-city-form-value:last-child {
   line-height: 20px
  }
  .contacts-city-form_office-adress {
    line-height: 20px;
    margin-right: 10px;
    
   }
  
}
@media (max-width: 499px) {
  .service-card {
    width: 280px;
  }
  .services-cards {
    justify-content: center;
  }

}

@media(max-width: 380px) {
  .header-wrapper {
    height: 96px;
  }
  .welcome-wrapper {
    height: 300px;
    padding: 24px 0px;
  }
  .welcome-image {
    display: none;
  }
  .welcome-heading {
    font-size: 25px;
    line-height: 35px;
  }
  .welcome-content .link-btn {
    font-size: 10px;
    width: 100px;
    height: 34px;
    padding: 6px 0px;
  }

  .about-wrapper {
    padding: 30px 0 31px 0px;
  }
  .about-heading {
    font-size: 25px;
    margin-bottom: 21.5px;
  }
  .about-par {
    font-size: 15px;
    line-height: 25px;
    padding: 0px;
    margin-bottom: 5px;
  }
  .about-plant img{
    width: 150px;
  }

  .service-heading {
    font-size: 25px;
  }
  .service-wrapper .btn-orange {
    font-size: 15px;
  }
  .service-wrapper {
    padding: 30px 0px 27px;
  }
  .service-heading {
    max-width: 187px;
  }
  .service-card {
    margin-bottom: 34px;
  }
  .service-card:last-child {
    margin-bottom: 0px;
  }
  .btn-menu {
    padding: 35px 0px 40px;
  }
  
  .prices-wrapper {
    height: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px 0px 0px;
  }
  .prices-variant {
    height: 235px;
    width: 224px;
    margin-bottom: 19px;
    
  }
 .accordion-wrapper-btn {
  width: 180px;
  padding: 15px 40px 0px 30px;
 }
 .accordion-wrapper-btn-content {
  font-size: 15px;
 }
 .accordion-wrapper-btn p {
  font-size: 8px;
 }
 
.price-count {
    margin-bottom: 3px;
    font-size: 9px;
}  
.price-count .digit {
  font-size: 13px;
}
.price-count .hours {
  font-size: 9px;
}
.accordion-wrapper-btn .btn-white {
  font-size: 10px;
  width: 80px;
  height: 24px;
}

  .help {
    max-width: 230px;
  }
  .help h3 {
    margin-bottom: 14px;
    font-size: 20px;
  }
  .help span {
    font-size: 20px;
  }
  .help .link-btn {
    font-size: 15px;
    width: 123px;
    height: 37px;
    padding: 7px 0px;
  }
  .prices-heading {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .contacts-wrapper {
    padding-top: 25px;
    height: auto;
  }
  .contacts-heading {
    font-size: 25px;
    margin-bottom: 80px;
  }
  .contacts-img {
    width: 100px;
    height: 124.246px;
  }
  
}

.service-card.blur {
  filter: blur(3px);
}
